<%= provide(:title, "Schedule") %>

<%= @schedule.date %>,,,
<%= @schedule.place %>,,,
<%= @schedule.content %>,,,
<%= @schedule.id %>...

<div class="box_for_schedule">
    <div class="title"><%= @schedule.title %></div>
    <div class="place_title">Place</div>
    <div class="place"><%= @schedule.place %></div>
    <div class="date_title">Deadline</div>
    <div class="date"><%= @schedule.date %></div>
    <div class="content"><%= @schedule.content %></div>
    <%= render "goods/good", schedule: @schedule %>
</div>


<div class="col-md-6 col-md-offset-3">
  <% if current_user.id == @schedule.user_id %>
    <div class="col-md-6 col-md-offset-3">
        <%= button_to "edit", edit_schedule_path, method: :get, class: "btn btn-primary", size:10 %>
    </div>
  <% else %>
    
  <% end %>
</div>
